@model Task2AsepPlanning.Models.Planning

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Planning</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Senin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Senin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Selasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Selasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rabu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rabu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kamis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kamis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jumat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jumat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sabtu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sabtu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minggu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minggu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeninResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeninResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelasaResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelasaResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RabuResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RabuResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KamisResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KamisResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JumatResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JumatResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SabtuResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SabtuResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MingguResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MingguResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
